<template>
  <nav className="navbar navbar-expand-lg bg-light">
    <div className="container-fluid">
      <router-link className="navbar-brand" to="/">
        Hola {{ store.state.user.login }}!
      </router-link>
      <button
        className="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span className="navbar-toggler-icon"></span>
      </button>
      <div className="collapse navbar-collapse" id="navbarSupportedContent">
        <ul className="navbar-nav me-auto mb-2 mb-lg-0">
          <li className="nav-item">
            <router-link
              to="/"
              className="nav-link"
              aria-current="page"
              active-class="active"
            >
              Inicio
            </router-link>
          </li>
          <li className="nav-item">
            <router-link
              v-if="isLogged"
              :to="'/authors/' + store.state.user.login"
              className="nav-link"
              aria-current="page"
              active-class="active"
            >
              Perfil
            </router-link>
          </li>
          <li className="nav-item">
            <router-link className="nav-link" to="/tag" active-class="active">
              Etiquetas
            </router-link>
          </li>
          <li className="nav-item">
            <router-link
              className="nav-link"
              v-if="store.state.user.authority == 'ADMIN'"
              to="/tag-admin"
              active-class="active"
            >
              Editar Etiquetas
            </router-link>
          </li>
          <li className="nav-item">
            <router-link
              className="nav-link"
              v-if="store.state.user.authority == 'ADMIN'"
              to="/user-registered"
              active-class="active"
            >
              Usuarios Registrados
            </router-link>
          </li>
          <li className="nav-item">
            <router-link
              className="nav-link"
              v-if="!isLogged"
              to="/signup"
              active-class="active"
            >
              Registrarse
            </router-link>
          </li>
          <li className="nav-item">
            <router-link
              className="nav-link"
              v-if="!isLogged"
              to="/login"
              active-class="active"
            >
              Iniciar Sesión
            </router-link>
          </li>
          <button v-if="isLogged" type="button" @click="logout">
            Cerrar sesión
          </button>
        </ul>
      </div>
    </div>
  </nav>
  <router-view />
</template>

<script>
import auth from "./common/auth";
import { getStore } from "./common/store";

export default {
  data() {
    return {
      store: getStore(),
      auth: auth,
      user: getStore.state?.user,
    };
  },
  computed: {
    isLogged() {
      return this.store.state.user.logged;
    },
  },
  methods: {
    logout() {
      auth.logout();
      // Después de hacer logout nos vamos a home
      if (this.$router.currentRoute.name != "home") {
        this.$router.push({ name: "home" });
      }
    },
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

nav {
  padding: 30px;
}

nav a {
  font-weight: bold;
  color: #2c3e50;
  cursor: pointer;
}

/* fixing popper warning in bootstrap 5.2: */
.dropdown-menu {
  margin-top: 0px !important;
}
</style>
