<template>
  <div class="login">
    <h1 class="title">Inicia Sesión</h1>
  </div>
  <form>
    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Nombre de Usuario"
        id="login"
        v-model="loginForm.login"
      />
    </div>
    <div class="mb-3">
      <input
        type="password"
        class="form-control"
        placeholder="Contraseña"
        id="password"
        v-model="loginForm.password"
      />
    </div>
    <button type="submit" class="btn btn-primary" @click.prevent="login()">
      Submit
    </button>
  </form>
</template>

<script>
import auth from "@/common/auth";

export default {
  data() {
    return {
      loginForm: {
        login: null,
        password: null,
      },
    };
  },
  methods: {
    async login() {
      try {
        await auth.login(this.loginForm);
        this.$router.push("/posts");
      } catch (err) {
        console.error(err);
      }
    },
  },
};
</script>
<style scoped>
.mb-3 {
  margin: 10px auto;
  max-width: 40%;
}
</style>
