<template>
  <div class="registerTag">
    <h1 class="title">Etiqueta Nueva</h1>
  </div>
  <form>
    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Nombre"
        aria-label="Nombre"
        id="name"
        v-model="newTagForm.name"
      />
    </div>
    <button type="submit" class="btn btn-primary" @click.prevent="newTag()">
      Crear Etiqueta
    </button>
  </form>
</template>

<script>
import TagRepository from "@/repositories/TagRepository";

export default {
  data: function () {
    return {
      newTagForm: {
        name: "",
      },
    };
  },
  methods: {
    async newTag() {
      try {
        const response = await TagRepository.registerTag(this.newTagForm);
        console.log(response);
        this.$router.push("/tag-admin");
      } catch (err) {
        console.error(err);
      }
    },
  },
};
</script>

<style scoped>
.row g-3 {
  margin: 10px auto;
  max-width: 40%;
}
</style>
