<template>
  <div class="NP">
    <h1 class="title">Nueva Publicación:</h1>
  </div>
  <div class="container">
    <form class="formulario">
      <div class="mb-3">
        <label for="body" class="form-label">Mensaje</label>
        <textarea
          rows="10"
          maxlength="300"
          class="form-control"
          id="body"
          v-model="post.body"
        />
      </div>
      <div class="mb-3">
        <label for="select" class="form-label">Etiquetas</label>
        <select multiple class="form-select" id="select" v-model="post.tags">
          <option selected>Seleccione una etiqueta</option>
          <option v-for="tag in tags" :key="tag.id" :value="tag">
            {{ tag.name }}
          </option>
        </select>
      </div>
      <div class="container-counter">
        <span class="description-counter"
          >Nº caracteres: {{ post.body ? post.body.length : 0 }} / 300</span
        >
      </div>
      <div class="mb-3">
        <label for="select" class="form-label">Autoría</label>
        <select class="form-select" id="select" v-model="post.author">
          <option selected>Seleccione un autor/a</option>
          <option v-for="autor in authors" :key="autor.id" :value="autor">
            {{ autor.login }}
          </option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary" @click.prevent="gPost()">
        Guardar
      </button>
    </form>
  </div>
</template>

<script>
import PostRepository from "@/repositories/PostRepository";
import TagRepository from "@/repositories/TagRepository";
import UserRepository from "@/repositories/UserRepository.js";

export default {
  data() {
    return {
      authors: [],
      tags: [],
      post: {
        body: null,
        author: null,
        tags: [],
      },
    };
  },
  mounted() {
    this.fetchData();
  },
  methods: {
    async fetchData() {
      this.tags = await TagRepository.findAll();
      this.authors = await UserRepository.findAll(this.id);
    },
    async gPost() {
      try {
        await PostRepository.save(this.post);
        this.$router.push("/posts");
      } catch (err) {
        console.error(err);
      }
    },
  },
};
</script>

<style scoped>
.formulario {
  margin: 10px auto;
  max-width: 40%;
}
.container-counter {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
}

.description-counter {
  font-size: 13px;
  font-weight: bold;
}
</style>
