<template>
  <div class="container">
    <div class="float-end">
      <router-link class="btn btn-primary" :to="{ name: 'TagCreate' }">
        Crear nueva
      </router-link>
    </div>
    <h1 class="title">Lista de Etiquetas</h1>

    <div class="mb-3">
      <div class="col mb-3" v-for="tag in tags" :key="tag.id">
        <TagCardAdmin :tag="tag"></TagCardAdmin>
      </div>
    </div>
  </div>
</template>

<script>
import TagRepository from "../repositories/TagRepository";
import auth from "@/common/auth";
import TagCardAdmin from "@/components/TagCardAdmin";

export default {
  data() {
    return {
      tags: [],
      auth: auth,
    };
  },
  components: { TagCardAdmin },
  mounted() {
    TagRepository.findAll().then((response) => {
      this.tags = response;
      console.log("Response postlist", this.tags);
    });
  },
};
</script>

<style scoped>
.container {
  margin: 10px auto;
}
</style>
