<template>
  <div class="card">
    <div class="card-body">
      <p class="card-text">
        {{ tag.name }}
      </p>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    tag: {
      type: Object,
      required: true,
    },
  },
};
</script>

<style scoped></style>
