<template>
  <div class="container">
    <div class="tag">
      <h1 class="title">Lista de Usuarios Registrados</h1>
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xxl-4">
      <div class="col mb-3" v-for="user in users" :key="user.id">
        <UserCard :user="user"></UserCard>
      </div>
    </div>
  </div>
</template>

<script>
import UserRepository from "@/repositories/UserRepository";
import UserCard from "@/components/UserCard";

export default {
  components: { UserCard },
  data() {
    return {
      users: [],
    };
  },
  mounted() {
    UserRepository.findAllPrivate().then((response) => {
      this.users = response;
    });
  },
};
</script>

<style scoped>
.container {
  margin: 10px auto;
}
</style>
