<template>
  <div class="card" :key="'kc' + kcUserCard">
    <div class="card-body">
      <p class="card-text">
        {{ user.login }}
      </p>
      <p class="card-text">
        {{ user.authority }}
      </p>
      <p class="card-text">
        <button type="button" @click="changeStatus()">
          {{ userStatus ? "Desactivar" : "Activar" }}
        </button>
        <button type="button" @click.prevent="deleteUser(user.id)">
          {{ "Eliminar" }}
        </button>
      </p>
    </div>
  </div>
</template>

<script>
import UserRepository from "@/repositories/UserRepository";

export default {
  data() {
    return {
      userStatus: this.user.active,
      kcUserCard: 1,
    };
  },
  props: {
    user: {
      type: Object,
      required: true,
    },
  },
  methods: {
    async changeStatus() {
      var response = UserRepository.changeStatus(
        this.user.id,
        !this.userStatus
      );
      if (response.active == true) {
        alert("El usuario se ha activado correctamente");
      } else {
        alert("El usuario se ha desactivado correctamente");
      }
      this.userStatus = !this.userStatus;
      this.kcUserCard++;
    },
    async deleteUser(id) {
      await UserRepository.deleteUser(id);
      this.$router.go();
    },
  },
};
</script>

<style scoped></style>
